
/* Color Scheme:
    #000000
    #36494E
    #57737A
    #C4E7EF
    #FFFBFE
*/

body {
    background-color: #C4E7EF;
}

h1 {
    text-align: center;
}

p {
    color: #FFFBFE;
}

.big-div {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: #36494E;
    text-align: center;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    margin: auto;
    display: block;
    width: 90%;
    background: #FFFBFE;
    font-family: Nunito;
    font-size: 16px;
    border-radius: 10px;
}

button {
    background-color: #FFFBFE;
    border: 2px solid #FFFBFE;
    transition-duration: 0.4s;
    width: 30%;
    height: 30px;
    margin: 15px;
}

button:hover {
    background-color: #000000;
    color: #FFFBFE;
}

.textFilled {
    overflow-y: auto;
    height: 65%;
    width: 90%;
    margin: auto;
    background: #57737A;
    padding: 5px;
    border-radius: 10px;
}